<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    
    <!-- Git commits will be made as this user, change at will. -->
    <add key="GitConfigName" value="zenviro ninja" />
    <add key="GitConfigEmail" value="zenviro.ninja@gmail.com" />

    <!-- Git changes will be synced with this remote. -->
    <add key="GitRemote" value="http://git.bfl.local/DevOps/zenviro-data.git" />

    <!-- Full path to the directory where the bot's git work directory will reside. Leave blank to use: "/ProgramData/zenviro.ninja/data" . -->
    <add key="DataDir" value="" />

    <!-- Port for the Fleck websocket server to listen on. -->
    <add key="FleckPort" value="8989" />

    <!-- Set to true to debug logging issues. -->
    <add key="log4net.Internal.Debug" value="false" />
    
  </appSettings>
  
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener"
          initializeData="log4net_internal.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  
  <log4net>
    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="FleckAppender" />
    </root>
    
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender" >
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %m%n" />
      </layout>
    </appender>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %m%n" />
      </layout>
    </appender>
    
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="DEBUG"/>
      <file type="log4net.Util.PatternString" value="%appdomain_%property{log4net:HostName}.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level: %message%newline" />
      </layout>
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
    </appender>
    
    <appender name="FleckAppender" type="Zenviro.Ninja.FleckAppender">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender>
    
    <logger name="Zenviro.Ninja.FleckLogger" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="FleckAppender" />
    </logger>
  </log4net>
  
</configuration>